*{
    font-family: 'Avenir', sans-serif;                                             
    }
    input:focus {
    outline: none;
    }

    hr{
    width: 60vw;
    margin-left: 100px;
    margin-right: 0; 
    margin-top: 0;
    color: #000000;
    background: black
    }

    .container{
        display: flex;
        justify-content: space-between;
    }
    .elem1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    a {
        text-decoration: none;
        font-family: "AvenirNext-DemiBold";
        color: black; 
    }
    .elem2{
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 30px;
    }
        nav  a:hover{ 
        background: #64bbf1; 
    }
    img{
        cursor: pointer;
    }
    .container1 {
        display: flex;
        margin-top: 25px;

    }
    .loupe {
        margin-left: 20px;
        cursor: pointer;
    }
    .hamburger {
        display: none;
        
    }
    .decalage {
        margin-left: 50px;
    }
    .livingroom {
        margin-left: 60px;
        background-color: transparent;
        border: 0px;
        width: 70%;
        font-size: 40px;
        color: #070303;  
        font-size: 25px;
    }

    #boutonSelect{
        display: flex;
        align-items: center;
        color: #070303;  
        font-size: 25px;
        width: 20vw;
        margin-left: 150px;
        font-family: sans-serif;
        border-color: transparent transparent rgba(106, 100, 120, 0.457) transparent;
        padding-top: 5px;
        padding-bottom: 0px;
        margin-bottom: 9px;
      }
     
      #boutonfilter{
    
        display: none;
      }


    .pagination {
        display: inline-block;
        margin: 20px 0;
        border-radius: 4px;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        
      }
      
      .pagination a.active {
        background-color: black;
        color: white;
        
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;
    }

    @media screen and (max-width:430px)
    { 
        nav
        {
            height : 60px;
        }
        .decalage
        {
            display: none;
        }
        .hamburger 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }
        .container1{
            display: block;
            margin-top: 50px;
        }
        #boutonSelect{
            display: flex;
            align-items: center;
            color: #070303;  
            font-size: 25px;
            width: 90vw;
            margin-left: 10px;
            font-family: sans-serif;
            border-color: transparent transparent rgba(106, 100, 120, 0.457) transparent;
            padding-top: 5px;
            padding-bottom: 15px;
            margin-top: 30px;
            margin-bottom: 9px;
          }
          #boutonfilter{
            display: flex;
            align-items: center;
            color: #070303;  
            font-size: 25px;
            width: 90vw;
            margin-left: 10px;
            font-family: sans-serif;
            border-color: transparent transparent rgba(106, 100, 120, 0.457) transparent;
            padding-top: 5px;
            padding-bottom: 15px;
            margin-top: 30px;
            margin-bottom: 9px;
            
          }
          .Algolia{
            position: absolute;
            top: 160px;
            left: 180px;


          }
    
}